body, html {
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}
.con-board-wrap {
	overflow: hidden;
	display: -webkit-inline-flex;
	-webkit-flex-direction: column;

	.con-board-body {
		display: -webkit-inline-flex;
		-webkit-flex-direction: column;
		width: 100%;
		height: 100%;
	}
}

.con-board-cat {
	height: 100%;
	margin: -1px 0px 0px 0px;
	border: 1px solid grey;
	display: -webkit-flex;
	-webkit-flex-wrap: nowrap;
	overflow: hidden;
	vertical-align: top;
	.con-board-cat-head {
		overflow: hidden;
		width: 17%;
		word-wrap: break-word;
		-webkit-flex-shrink: 0;
		margin: auto;
		text-align: center;
		vertical-align: top;
		font-size: 4vmin;
		white-space: pre-wrap;
	}
	.con-board-cat-body {
		overflow: hidden;
		-webkit-flex-grow: 1;
		vertical-align: top;
		display: -webkit-flex;
		.con-board-cat-body-marker {
			width: 100%;
			border: 1px solid grey;
			margin: -1px -1px -1px 0px;
		}
	}
}

.con-board-head {
	overflow: hidden;
	width: 100%;
	height: 15%;
	position: relative;
	display: -webkit-inline-flex;
	-webkit-flex-wrap: nowrap;

	.con-board-head-logo {
		width: 15%;
		-webkit-flex-shrink: 0;
	}

	.con-board-head-line {
		margin-top: auto;
		height: 26px;
		line-height: 26px;
		-webkit-flex-grow: 1;
		display: -webkit-inline-flex;
		-webkit-flex-wrap: nowrap;
	}

	.con-board-head-time {
		padding: 1vmin;
		font-size: 4vmin;
		margin-bottom: auto;
	}
}